<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>All Users</h1>
        <ul>
            <li th:each="user : ${users}">
                <span th:text="${user.name}"></span> - <span th:text="${user.email}"></span>
            </li>
        </ul>

        <br>
        <a href="/">
            <button>Go Back</button>
        </a>
    </div>
</body>
</html>
